<!DOCTYPE html>
<html ng-app="ProductViewer">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="app.js"></script>
    <script src="myController.js"></script>
    <script src="productServices.js"></script>
</head>

<body ng-controller="MainController">
    <h4>{{error | json}}</h4>
    <!-- <h1>{{Pproducts}}</h1> -->



    <div class="container my-3">

<button type="text" class="btn btn-primary mx-3" ng-click="get()" >Get </button>
<input type="text" ng-model="data" value="laptops"/>
<button type="text" class="btn btn-primary" ng-click="post(data)" >Post </button>
    <table  class="table table-striped">
        <thead>
            <tr>
                <th>Name Of Products</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="product in products">
                <td>{{product}}</td>
            </tr>
        </tbody>
    </table>
    
</div>

</body>

</html>